* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-weight: 700;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: lightblue;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 30px;
}

div {
    margin-bottom: 50px;
}


/*Завдання 1. Для першого блоку: задай кожному парному елементу списку рожевий колір
Завдання 2. Для другого блоку: задай кожному не парному елементу списку розмір 22px
Завдання 3. Для третього блоку: задай кожному 2-му елементу, починаючи з 4-го елемента -  псевдоелемент :after та додай "!" до кожного з зазначених пунктів
Завдання 4. Для четвертого блоку: Задай фіолетовий колір для останнього елемента списку
Завдання 5.Для п'ятого блоку: Задай розмір 30px для перших літер списка, а також зміни колір на червоний
Завдання 6. Додай довільний фавікон*/
/*-------------------task-n+1-------------*/

.task-1>ul>li:nth-child(even){
    color: #cd3280;
}

.task-2>ul>li:nth-child(odd){
    font-size: 22px;
}

.task-3>ul>li:nth-child(2n+4)::after {
    content: "!";
    font-weight: bold;
    color: red;
    font-size: 24px;
}

.task-4>ul>li:last-child{
color: blueviolet;
}

.task-5>ul>li:first-letter {
    font-size: 30px;
    color: red;

}