* {
    margin: 0;
    padding: 0;
}

header, footer {
    height: 22vh;
    background-color: #D9D9D9;;

}

main {
    display: flex;
}

main div {
    width: 46vw;
    height: 56vh;
}

aside {
    width: 27vw;
    height: 56vh;
    background: #C0BDBD;


}

.main__section-top {
    width: 100%;
    height: 50%;
    background: #827878;
}

.main__section-bottom {
    width: 100%;
    height: 50%;
    background: #B7ADAD;

}
