*{
    box-sizing: border-box;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border-top: 30px solid #D1EF53;
    border-right: 30px solid #B3A0CD;
    border-bottom:30px solid #e1b778;
    border-left: 30px solid #7acc5f;
    animation: preloader 3s linear infinite alternate;
    margin: 200px auto;
    padding-top: 300px;

}
@keyframes preloader {
    from{
    transform: rotate(360deg);
    }
    to{
        transform: rotate(-360deg) scale(1.5);

    }
}