* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: rgba(192, 189, 189, 0.13);
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1512px;
    height: 982px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #D9D9D94D;
    padding: 0 54px;
    gap: 4px;
    position: relative;
}

.card.green {
    border: 4px solid #65856E;
}

.card h2 {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.card p {
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

img.ellipse {
    position: absolute;
    top: -54px;
}

img.img-in {
    position: absolute;
    top: -34px;
}


