* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 0.5fr 5fr 4fr 1fr 1.1fr;
    grid-template-areas:
    "nav nav"
    'main section-1'
    'main section-2'
    'section-3 section-3'
'footer footer';
}

.grid nav {
    grid-area: nav;
    background: #D9D9D9;
}

.grid main {
    grid-area: main;
    background: #A4A4A4;
}

.grid section:nth-child(3) {
    grid-area: section-1;
    background: #7F7A7A;
}

.grid section:nth-child(4) {
    grid-area: section-2;
    background: #615050;
}

.grid section:nth-child(5) {
    grid-area: section-3;
    background: #D9D9D9;
}

.grid footer {
    grid-area: footer;
    background: #AFA9A9;
}


