*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
.section-top, .section-bottom{
    height: 50vh;
    /*padding: 80px 0;*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    align-items: center;
        text-align: center;
}
    section p{
        line-height: 1.5;
        width: 80%;
    }
.section-top{
    background-color: pink;
    color: black;
}
.section-bottom{
    background-color: black;
    color: white;
}
