* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(163, 127, 127);
    font-size: 24px;
    min-height: 100vh;
}

.container {
    max-width: 1400px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__inner {
    padding: 40px 40px 150px 40px;

}

.header__inner img {
    float: left;
    margin-right: 40px;
}

.header h1 {
    margin-bottom: 40px;
    color: #8f2929;
    font-size: 50px;
}

h1 span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

.characters__inner, .header__inner {
    background-color: rgb(241, 206, 206);
}

.characters__inner {
    padding: 130px 100px 80px;
}

.characters__inner h2 span {
    font-size: 64px;
    color: #8f2929;
    padding: 0;
    position: absolute;
    top: -11px;
}

.characters__inner h2 {
    margin-bottom: 40px;
    margin-left: 80px;
    position: relative;
    color: #8f2929;
}

.characters__inner div {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    margin: 80px 0;
}

.characters__inner p span {
    color: #8f2929;
}
