body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.animation{
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boat{
    height: 500px;
    margin-left: -260px;
    animation: boat 4s ease-in-out infinite alternate;
}
.wave{
    margin-top: -230px;
    animation: wave 4s ease-in-out infinite alternate;
}
@keyframes boat {
    from{
    transform: translate(0,0);
    }
    10%{
        transform: translate(30px,10px);

    }
    20%{
        transform: translate(60px,-15px);
    }
    30%{
        transform: translate(90px,15px);
    }
    40%{
        transform: translate(120px,-10px);
    }
    50%{
        transform: translate(150px,10px);
    }
    60%{
        transform: translate(180px,-5px);
    }
    70%{
        transform: translate(210px,10px);
    }
    80%{
        transform: translate(240px,-10px);
    }
    90%{
        transform: translate(270px,10px);
    }

    to{
        transform: translate(300px,0);

    }
}
@keyframes wave {
    from{
        transform: skew(15deg);
    }
    to{
        transform: skew(-15deg);
    }

}