*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
.wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
}
#section-top, #section-medium, #section-bottom{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
}
section p{
    line-height: 1.5;
    width: 80%;
}
#section-top{
    background-color: pink;
    color: black;
}
#section-medium{
    background-color: yellowgreen;
}
#section-bottom{
    background-color: black;
    color: white;
}
.arrow{
    font-size: 50px;
    display: inline-block;
}

