*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    padding: 80px;
    background: rgba(169, 169, 169, 0.58);
}

h3 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 60px;
}

.products-list{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin-bottom: 40px;
}

.product-card {
    border: 2px solid rgba(54, 55, 55, 0.49);
    border-radius: 40px;
    height: 400px;
    width: 300px;
    padding: 40px;

}

.product-card_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.product-card_content p {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 700;

}

.product-card_content img {
    height: 240px;
    display: inline-block;

}
hr{
    margin-bottom: 30px;
}
.footer{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}