* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2.4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    'header header header'
    'aside-left main aside-right'
    'footer footer footer';
}

header {
    grid-area: header;
    background: #D9D9D9;

}

footer {
    grid-area: footer;
    background: #D9D9D9;

}

.aside-left {
    grid-area: aside-left;
    background: #C0BDBD;


}

.aside-right {
    grid-area: aside-right;
    background: #C0BDBD;


}

main {
    grid-area: main;
    background: #A4A4A4;



}


