*{
    margin: 0;
    padding: 0;
}
header{
    background: #D9D9D9;
    height: 4vh;
}
main{
    height: 86vh;
    display: flex;
}
.main__content{
    display: flex;
}
.main__content_left{
    width: 29vw;
    height: 100%;
    background: #A4A4A4;
}
.main__content_right{
    width: 30vw;
    height: 100%;
background: #C1C1C1;
}
.main__aside{
    width: 100%;
}
.main__aside_top{
background: #7F7A7A;
    height: 50%;
 }
.main__aside_bottom{
    background: #6B6161;
    height: 50%;
}
footer{
    height: 10vh;
    background: #D9D9D9;
}