* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}
header {
    height: 4vh;
    background: #D9D9D9;
}

main {
    height: 74vh;
    display: flex;
}
.main__content {
    width: 60vw;
    background: #A4A4A4;
}
.main__aside {
    width: 40vw;
}
.main__aside_top {
    height: 40vh;
    background: #7F7A7A;
}
.main__aside_bottom {
    height: 34vh;
    background: #615050;
}
.footer__top {
    height: 10vh;
    background: #D9D9D9;
}
.footer__bottom {
    height: 12vh;
    background: #AFA9A9;
}