* {
    padding: 0;
    margin: 0;
}

.wrapper{
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: burlywood ;

}
.box {
    width: 100px;
    height: 100px;
    background: red;
    transition: all .4s;

}
.box:hover {
    border-radius: 50%;
    background: gray;
    transition: .4s;
}