@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
}

.items{
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    padding: 50px 0;
}
.item{
    width: 271px;
    text-align: start;
}
.item img{
    margin-bottom: 20px;
}
.item h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 10px;
    color: #161543;

}
.item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7687A1;

}