* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

body {
    color: white;
    font-family: Inter, sans-serif;

}

.wrapper {
    width: 1400px;
    margin: 0 auto;
    background-color: #1b3e53;
}

.container {
    width: 1153px;
    margin: 0 auto;
}

.header {
    box-shadow: 0 4px 4px 0 #00000040;
    height: 113px;
    width: 1400px;
    background: #24204A;
    position: fixed;
    top: 0;
    z-index: 1;

}

.header__menu .logo {
    font-weight: 700;
    font-size: 20px;
    color: #E5E5E5;
    cursor: pointer;
    opacity: 0.6;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0 41px;
}

.nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
}

.nav a {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    cursor: pointer;
    opacity: 0.6;
}

/*------- section one position------------------*/
.one-position {
    height: 692px;
    background: #24204A;
    padding: 180px 0 101px;


}

.one-position__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.one-position__inner div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    gap: 32px;
}

.btn-position {
    width: 145px;
    height: 41px;
    border-radius: 8px;
    background: #4B4864;
    font-weight: 500;
    font-size: 16px;
    color: #8E88C1;
    border: none;
    cursor: pointer;

}

.one-position__inner h1 {
    width: 261px;
    font-weight: 700;
    font-size: 36px;
}

.one-position__inner div p {
    width: 570px;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 1.5px;
    color: #8E88C1;
}

.btn-about {
    width: 200px;
    height: 56px;
    border: none;
    border-radius: 8px;
    background: #3F50E7;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: white;
    box-shadow: 0 6px 20px 0 #00FFE033;
    cursor: pointer;
}

.one-position__inner div:nth-child(2) {
    width: 366px;
    height: 411px;
    border-radius: 8px;
    background: #827EAC;
    position: relative;

}

.one-position__inner div:nth-child(2) img {
    position: absolute;
    top: 16px;
    left: -16px;

}

/*------------- section lorem-ipsum-----------------*/
.lorem-ipsum {
    background: #071341;
    padding: 50px 0 152px;

}

.lorem-ipsum .icons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.icon {
    width: 175px;
    height: 56px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 18px;
}

.icon div:nth-child(1) {
    height: 56px;
    width: 56px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.icon h4 {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 3px;
}

.icon p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #8E88C1;

}

.icon.icon-1 div:nth-child(1) {
    background: #FF6853;
}

.icon.icon-2 div:nth-child(1) {
    background: #FF537C;
}

.icon.icon-3 div:nth-child(1) {
    background: #80D2C4;

}

.icon.icon-4 div:nth-child(1) {
    background: #3F50E7;

}

.icon.icon-5 div:nth-child(1) {
    background: #95CB7C;

}

/*info*/
/*---------variant without class !!!!!!-----------*/

/*.icon:nth-child(5) div:nth-child(1){*/
/*    background: #95CB7C;*/
/*}*/

/*---------variant without class !!!!!!-----------*/
/*info*/

.lorem-ipsum h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    width: 1074px;
    margin-bottom: 50px;
}

.lorem-ipsum>.container>p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: block;
    color: #8E88C1;
    margin-bottom: 50px;

}

.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.card{
    padding-top: 40px;
    width: 208px;
    height: 206px;
    border-radius: 8px;

    border: 2px solid #8E88C1;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 26px;
}

.card>p{
    color: #8E88C1;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.8px;
    text-align: center;
    width: 160px;
    display: block;
}

/*-------section map------------*/

iframe{
    width: 100%;
    height: 664px;
}
footer{
    background: #071341;
    height: 94px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{

    font-weight: 500;
    font-size: 12px;
    color: white;
}