* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.grid{
    display: grid;
    grid-template-rows: 20vh 60vh 20vh;
}
header, footer{
    background: #D9D9D9;

}
main{
    background: #A4A4A4;

}